@media only screen and (max-width: 599px) {
  [hidden-xs] {
    display: none; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  [hidden-sm] {
    display: none; } }

@media only screen and (min-width: 600px) {
  [hidden-gt-sm] {
    display: none; } }

@media only screen and (min-width: 768px) {
  [hidden-gt-md] {
    display: none; } }

@media only screen and (max-width: 599px) {
  .hidden-xs {
    display: none; } }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

svg.circled {
  box-sizing: content-box;
  padding: 6px;
  border: 2px solid currentColor;
  border-radius: 50px; }

svg.icon {
  box-sizing: content-box;
  padding: 6px; }

#main {
  flex-direction: column;
  height: 100%;
  display: flex; }

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 20px;
  width: 100%;
  transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative; }
  .toolbar.expanded {
    height: 100px; }
    .toolbar.expanded .toolbar-actions {
      opacity: 1;
      transition: opacity 0.1s 0.2s; }
    .toolbar.expanded .toolbar-body {
      height: 100px; }
    .toolbar.expanded .toolbar-handler button {
      opacity: 0.3; }
    .toolbar.expanded .toolbar-bottom a {
      opacity: 1; }
    .toolbar.expanded .toolbar-bottom .minipastanaga {
      opacity: 0;
      bottom: 10px;
      transition: bottom 0.3s 0.3s, opacity 0.3s; }
  .toolbar-content {
    height: 0;
    opacity: 0;
    background-color: #ddd;
    transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.3s 0.3s; }
    .toolbar-content.show {
      opacity: 1;
      height: 300px;
      transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  .toolbar-body {
    display: flex;
    flex-direction: row-reverse;
    height: 0;
    transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    .toolbar-body a,
    .toolbar-body button {
      color: #826a6a;
      margin-left: 20px;
      cursor: pointer; }
    .toolbar-body button {
      padding: 0;
      text-align: initial;
      border: 0;
      background: transparent; }
      .toolbar-body button:focus {
        outline: none; }
  .toolbar-actions {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    opacity: 0;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    transition: opacity 0.1s 0.2s; }
    .toolbar-actions .edit {
      color: #007eb1; }
    .toolbar-actions .more {
      flex: 1; }
    .toolbar-actions a,
    .toolbar-actions button {
      display: block; }
  .toolbar-handler {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%; }
    .toolbar-handler button {
      background-color: transparent;
      height: 20px;
      width: 80px;
      padding: 0;
      border: 0;
      transition: opacity 0.3s;
      cursor: pointer; }
      .toolbar-handler button::before {
        content: '';
        display: block;
        background-color: red;
        height: 4px;
        width: 100%;
        position: relative; }
  .toolbar-bottom {
    display: flex;
    align-items: center; }
    .toolbar-bottom a {
      opacity: 0; }
    .toolbar-bottom .user {
      display: none; }
    .toolbar-bottom .divider {
      display: none; }
    .toolbar-bottom .pastanagalogo {
      display: none; }
    .toolbar-bottom .minipastanaga {
      opacity: 1;
      height: 14px;
      padding: 0px 6px;
      position: absolute;
      bottom: 2px;
      transition: bottom 0.3s 0.3s, opacity 0.3s 0.3s; }

.content {
  background-color: #f2f5f6;
  flex-grow: 1; }

@media only screen and (min-width: 600px) {
  #main {
    flex-direction: row; }
  .toolbar {
    flex-direction: row;
    height: 100%;
    width: 20px;
    justify-content: flex-end;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    .toolbar.expanded {
      height: 100%;
      width: 80px; }
      .toolbar.expanded .toolbar-body {
        height: 100%; }
      .toolbar.expanded .toolbar-actions {
        flex-direction: column; }
      .toolbar.expanded .toolbar-bottom .user {
        opacity: 1;
        transition: opacity 0.1s 0.2s; }
      .toolbar.expanded .toolbar-bottom .pastanagalogo {
        display: block; }
      .toolbar.expanded .toolbar-bottom .divider {
        opacity: 1;
        border-top: 1px solid #c7d5d8;
        height: 20px;
        width: 40px;
        transition: opacity 0.1s 0.2s; }
    .toolbar-content {
      position: absolute;
      left: 80px; }
    .toolbar-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
      .toolbar-body a,
      .toolbar-body button {
        margin-left: 0;
        margin-bottom: 20px; }
    .toolbar-actions {
      flex-direction: column;
      flex: 1;
      padding: 20px 0; }
      .toolbar-actions .more {
        flex: 0; }
    .toolbar-bottom {
      flex: 1;
      flex-direction: column;
      justify-content: flex-end; }
      .toolbar-bottom .user {
        opacity: 0;
        display: block; }
      .toolbar-bottom .divider {
        opacity: 0;
        display: block; }
      .toolbar-bottom .minipastanaga {
        bottom: 10px; }
      .toolbar-bottom .pastanagalogo {
        margin-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        display: block; }
        .toolbar-bottom .pastanagalogo img {
          width: 100%; }
    .toolbar-handler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 20px; }
      .toolbar-handler button {
        width: 20px;
        height: 80px; }
        .toolbar-handler button::before {
          height: 100%;
          width: 4px;
          left: 8px; } }
