@import 'responsive';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: #bbb;
  height: 20px;
  width: 100%;
  transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &.expanded {
    height: 100px;

    .toolbar-body {
      height: 80px;
    }
    .toolbar-handler button {
      opacity: 0.3;
    }

    .toolbar-bottom img {
      opacity: 0;
      bottom: 0;
      transition: bottom 0.1s, opacity 0.1s;
    }
  }

  &-body {
    display: flex;
    flex-direction: row-reverse;
    height: 0;
  }

  &-actions {
    height: 100%;
  }

  &-handler {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      background-color: transparent;
      height: 20px;
      width: 80px;
      padding: 0;
      border: 0;
      transition: opacity 0.3s;

      &::before {
        content: '';
        display: block;
        background-color: red;
        height: 4px;
        width: 100%;
        position: relative;
      }
    }
  }

  &-bottom {
    display: flex;
    flex: 1;
    align-items: center;

    img {
      opacity: 1;
      height: 14px;
      padding: 0px 6px;
      position: relative;
      bottom: -10px;
      transition: bottom 0.5s;
    }
  }
}

.content {
  background-color: lightskyblue;
  flex-grow: 1;
}

@media #{$sm-and-up} {
  #main {
    flex-direction: row;
  }
  .toolbar {
    flex-direction: row;
    height: 100%;
    width: 100px;

    &.expanded {
      height: 100%;
    }

    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &-actions {
      flex: 1;
    }

    &-bottom {
      flex: 1;
    }

    &-handler {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 20px;
        height: 80px;

        &::before {
          height: 100%;
          width: 4px;
          left: 8px;
        }
      }
    }
  }
}
