@import 'responsive';

$teal-blue: #007eb1;
$background-content: #f2f5f6;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

svg.circled {
  box-sizing: content-box;
  padding: 6px;
  border: 2px solid currentColor;
  border-radius: 50px;
}

svg.icon {
  // Experiment if this is ok for all icons
  box-sizing: content-box;
  padding: 6px;
}

#main {
  flex-direction: column;
  height: 100%;
  display: flex;
}

.toolbar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 20px;
  width: 100%;
  transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative;

  &.expanded {
    height: 100px;

    .toolbar-actions {
      opacity: 1;
      transition: opacity 0.1s 0.2s;
    }

    .toolbar-body {
      height: 100px;
    }

    .toolbar-handler button {
      opacity: 0.3;
    }

    .toolbar-bottom {
      a {
        opacity: 1;
      }
    }

    .toolbar-bottom {
      .minipastanaga {
        opacity: 0;
        bottom: 10px;
        transition: bottom 0.3s 0.3s, opacity 0.3s;
      }
    }
  }

  &-content {
    height: 0;
    opacity: 0;
    background-color: #ddd;
    transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045),
      opacity 0.3s 0.3s;

    &.show {
      opacity: 1;
      height: 300px;
      transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
  }

  &-body {
    display: flex;
    flex-direction: row-reverse;
    height: 0;
    transition: height 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    a,
    button {
      color: #826a6a;
      margin-left: 20px;
      cursor: pointer;
    }

    button {
      // Default reset for button
      padding: 0;
      text-align: initial;
      border: 0;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    opacity: 0;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    transition: opacity 0.1s 0.2s;

    .edit {
      color: $teal-blue;
    }

    .more {
      flex: 1;
    }

    a,
    button {
      display: block;
    }
  }

  &-handler {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      background-color: transparent;
      height: 20px;
      width: 80px;
      padding: 0;
      border: 0;
      transition: opacity 0.3s;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        background-color: red;
        height: 4px;
        width: 100%;
        position: relative;
      }
    }
  }

  &-bottom {
    display: flex;
    // flex: 1;
    align-items: center;

    a {
      opacity: 0;
    }
    .user {
      display: none;
    }
    .divider {
      display: none;
    }
    .pastanagalogo {
      display: none;
    }
    .minipastanaga {
      opacity: 1;
      height: 14px;
      padding: 0px 6px;
      position: absolute;
      bottom: 2px;
      transition: bottom 0.3s 0.3s, opacity 0.3s 0.3s;
    }
  }
}

.content {
  background-color: $background-content;
  flex-grow: 1;
}

@media #{$sm-and-up} {
  #main {
    flex-direction: row;
  }
  .toolbar {
    flex-direction: row;
    height: 100%;
    width: 20px;
    justify-content: flex-end;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &.expanded {
      height: 100%;
      width: 80px;

      .toolbar-body {
        height: 100%;
      }

      .toolbar-actions {
        flex-direction: column;
      }

      .toolbar-bottom {
        .user {
          opacity: 1;
          transition: opacity 0.1s 0.2s;
        }
        .pastanagalogo {
          display: block;
        }

        .divider {
          opacity: 1;
          border-top: 1px solid #c7d5d8;
          height: 20px;
          width: 40px;
          transition: opacity 0.1s 0.2s;
        }
      }
    }

    &-content {
      position: absolute;
      left: 80px;
      // top: 228px; // (for .more)
    }

    &-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

      a,
      button {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    &-actions {
      flex-direction: column;
      flex: 1;
      padding: 20px 0;

      .more {
        flex: 0;
      }
    }

    &-bottom {
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;

      .user {
        opacity: 0;
        display: block;
      }
      .divider {
        opacity: 0;
        display: block;
      }

      .minipastanaga {
        bottom: 10px;
      }

      .pastanagalogo {
        margin-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        display: block;

        img {
          width: 100%;
        }
      }
    }

    &-handler {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 20px;

      button {
        width: 20px;
        height: 80px;

        &::before {
          height: 100%;
          width: 4px;
          left: 8px;
        }
      }
    }
  }
}
