@import 'variables';

.pastanaga-menu {
  header {
    display: flex;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid $silver-blue;

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }

    a {
      display: flex;
    }

    &.pulled {
      justify-content: flex-start;
      padding-left: 10px;
      padding-right: 10px;

      button {
        margin-right: 10px;
      }
    }
  }
}

.personal-tools {
  header svg {
    color: red;
  }

  .avatar {
    height: 220px;

    img {
      object-fit: cover;
      width: 100%;
      object-position: top;
      height: 100%;
    }
  }

  .stats {
    ul {
      background-color: #f2f5f6;
      color: #878f93;
      display: flex;
      list-style: none;
      padding: 15px 0;
      justify-content: center;
      margin: 0;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 10px;

      span:first-child {
        font-size: 30px;
        font-weight: 200;
      }

      span:last-child {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  .links {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 10px 20px;
      justify-content: center;
      margin-top: 0;
    }

    li {
      border-bottom: 1px solid $silver-blue;
      // padding: 5px 0;

      button {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        cursor: pointer;

        svg {
          color: $teal-blue;
        }
      }
    }
  }
}
